html,
body,
#root,
.mapWrapper,
#base-container {
  height:100%;
  width: 100%;
  margin: 0px;
}

.wrapper {
  display:block;
  width: 100%;
  height: 100%;
}

button {
  margin: 10px;
  font-size: 20px;
}
